*{margin: 0;padding: 0;}
*{box-sizing: border-box}
*{list-style: none;}
input{outline: none; width: 450px; border: none}
.top{background: rgb(77,109,169);}
.topMain{width: 980px;border: 1px solid red;margin: 0 auto;display: flex;padding: 5px 0}
.icon{width: 20px;height: 20px;background: #fff;margin: 0 10px 0 0;}